/TimelineVisualizerSources/build/
/build/
/TimelineVisualizerSources/nbproject/private/
/TimelineVisualizerQueries/build/
/TimelineVisualizerEntities/build/
/TimelineVisualizerProjects/build/
/TimelineVisualizerProjects/nbproject/private/
/TimelineVisualizerViewer/build/